<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
  <!--
		Design and Development by Minkyoung Kim and Marie Otsuka 
	-->

  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  {{ content_for_header }}
  {{ 'style.scss.css' | asset_url | stylesheet_tag }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}  
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  {% if template contains 'music' %}  <!--key color setup for music products-->
  <!--favicons-->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ 'apple-touch-icon-57x57.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'apple-touch-icon-114x114.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'apple-touch-icon-72x72.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'apple-touch-icon-144x144.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ 'apple-touch-icon-60x60.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ 'apple-touch-icon-120x120.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ 'apple-touch-icon-76x76.png' | asset_url }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ 'apple-touch-icon-152x152.png' | asset_url }}" />
  <link rel="icon" type="image/png" href="{{ 'favicon-196x196.png' | asset_url }}" sizes="196x196" />
  <link rel="icon" type="image/png" href="{{ 'favicon-96x96.png' | asset_url }}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ 'favicon-128.png' | asset_url }}" sizes="128x128" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="{{ 'mstile-144x144.png' | asset_url }}" />
  <meta name="msapplication-square70x70logo" content="{{ 'mstile-70x70.png' | asset_url }}" />
  <meta name="msapplication-square150x150logo" content="{{ 'mstile-150x150.png' | asset_url }}" />
  <meta name="msapplication-wide310x150logo" content="{{ 'mstile-310x150.png' | asset_url }}" />
  <meta name="msapplication-square310x310logo" content="{{ 'mstile-310x310.png' | asset_url }}" />
  <style>
    /* custom color overwrites for music detail page */
    body,
    header nav li a,
    header nav div,
    header a#cart,
    .lyrics-box {
      background-color: {{product.metafields.keycolor.music}};
    }
    .lyrics-close-button .svg-stroke{
      stroke: {{product.metafields.keycolor.music}};
    }
    header nav li.active a,
    header nav li a:hover, 
    header a#cart:hover,
    button:hover,
    input:hover, 
    a.item:hover,
    a.action:hover,
    label:hover,
    input[type=radio]:checked+label,
    footer,
    .lyrics-header, 
    #mc_embed_signup input.email,
    #mc_embed_signup input.email::placeholder,
    #mc_embed_signup #mc-embedded-subscribe{
      color: {{product.metafields.keycolor.music}};
    }
    #mc_embed_signup input.email{
      border-color: {{product.metafields.keycolor.music}};
    }
    .template-product.music .tracklist ul li div.track_play a:hover svg path,
    footer ul svg path,
    .template-product.music .tracklist ul li div.track_play:hover svg .fill{
      fill: {{product.metafields.keycolor.music}};
    }
    @media (max-width: 633px) {
      header nav ul {
        background-color: {{product.metafields.keycolor.music}};
      }
    }
  </style>

  {% endif %}
  
  <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
  {{ 'shopify_common.js'  | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  <script>jQuery('html').removeClass('no-js').addClass('js');</script>

</head>


  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {{ template.suffix  }}" >
    
  {% section 'header' %} 
  {% comment %}
    IE8 and IE9 don't support the HTML5 placeholder attribute, so it's a good idea to use JavaScript
    to show and hide the placeholder text.
    Have a look in assets/shop.js.liquid to see sample JavaScript for this.
  {% endcomment %}      
 
  <main role="main">
    {{ content_for_layout }}
  </main>
  {% if template contains 'index' %} {% comment %} footer for homepage {% endcomment %}
  {% section 'footer-home' %} 
  {% else %}
    {% section 'footer' %} 
   {% endif %}
  {{ 'shop.js'  | asset_url | script_tag }}

  {{ 'slick.js' | asset_url | script_tag }}

  {{ 'common.js' | asset_url | script_tag }}

</body>
</html>