{% paginate blog.articles by 5 %}

  <section class="title">
    {% if current_tags %}
      <h1>{{ blog.title | link_to: blog.url }} - {{ current_tags.first }}</h1>
    {% else %}
      <h1>{{ blog.title }}</h1>
    {% endif %}
  </section>

  {% for article in blog.articles %}
  {% assign i = forloop.index0 %}

  {% comment %}
    Let's extract a blog image.
    We will look for an image in the excerpt first, and in the blog post itself second.
    We will remove the image suffix to grab as big an image as we can.
  {% endcomment %}

  <a href="{{ article.url }}" class="figure item--{{i}}">
    <figure>
      {% assign article_has_image = false %}
      {% assign img_tag = '<' | append: 'img' %}
      {% if article.excerpt_or_content contains img_tag %}
        {% assign src = article.excerpt_or_content | split: 'src="' %}
        {% assign src = src[1] | split: '"' | first %}
        {% if src %}
          {% assign article_has_image = true %}
          {% assign image_src = src | replace: '_small', '' | replace: '_compact', '' | replace: '_medium', '' | replace: '_large', '' | replace: '_grande', '' %}
        {% endif %}
      {% endif %}  
      <div>
        {{ article.title }}      
        <h5><time pubdate datetime="{{ article.published_at  | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%B %d, %Y' }}</time></h5>
      </div>
      <div>
        {% if article.image.size > 0 %}
          {% if i == 0 %}
          <img src="{{ article.image.src | img_url: 'master' }}">   {% comment %} featured, uncompressed img {% endcomment %}

          {% else %}
         <img src="{{ article.image.src | img_url: 'medium' }}">  
         {% endif %}
    
        {% endif %}  
      </div>
    </figure>
  </a>
{% endfor %}
  
{% if paginate.pages > 1 %}
  {% comment %}
    When paginating blog articles, a previous article is actually a newer article, not an older one,
    because blog articles are shown and paginated in a reversed chronological order.
    The word 'previous' can be confusing, hence we'll change it.
  {% endcomment %}
  {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
{% endif %}

{% endpaginate %}