
<section class="title">
  <h1>Cart</h1>
</section>
<section class="cart-table">

{% if cart.item_count > 0 %}

  <form action="/cart" method="post">
    
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>&nbsp;</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>

      {% for item in cart.items %}    
      
        {% comment %}
        Determining the handle of the collection that was last seen for the 'continue shopping' link.
        {% endcomment %}
        
        {% assign collection_url = item.product.collections.last.url %}
        {% if collection_url == '/collections/frontpage' or collection_url == blank %}
          {% assign collection_url = '/collections/all' %}
        {% endif %}
        
        {% if forloop.first %}
          {% assign continue_shopping_url = collection_url %}
        {% endif %}
        <tr>
          <td>
            <a href="{{ collection_url }}{{ item.url }}">
              <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
            </a>
          </td>
          <td>
            <a href="{{ collection_url }}{{ item.url }}">
              <i>{{ item.title }}</i>
            </a> 
         
            
            {% assign properties_amount = item.properties | size %}
            {% if properties_amount > 0 %}
              {% for p in item.properties %}
                {% unless p.last == blank %}
                  {{ p.first }}:
                  {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                    {{ p.last }}
                  {% endif %}
                {% endunless %}
              {% endfor %}
            {% endif %}
          </td>
          <td>
            <ul>
              <li>
                <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
               </li>
              <li>
                <h5>
                  <a href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
                  <input class="update" type="submit" name="update" value="Update cart" /></h5>
              </li>
            </ul>
          </td>
          <td>
            {{ item.price | money }}
          </td>
          <td>{{ item.line_price | money }}</td>
        </tr>
      {% endfor %}
      
      </tbody>
      
    </table>
    
    {% comment %}
    For the checkout and update buttons to work, they need to use
    a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
    {% endcomment %}
    
    <div class="subtotal"><span >Subtotal</span> {{ cart.total_price | money }}</div>
    <div class="checkout">
    {% comment %}  <a href="{{ shop.url }}" ><button class="action">Continue shopping</button></a>{% endcomment %}
    {% comment %}<input type="submit" name="checkout" value="Checkout" />  {% endcomment %}
      <button class="action" type="submit" name="checkout" value="Check out" />Check out</button>   

      {% if additional_checkout_buttons %} {% comment %}Paypal and Google checkout buttons{% endcomment %}
        {{ content_for_additional_checkout_buttons }}
      {% endif %}
    </div>
      
      {% comment %}
      For the special instructions to be submitted with order,
      we need to use a name attribute set to 'note'.
      <div class="others">
        <h4>Special instructions for seller</h4>
        <textarea name="note">{{ cart.note }}</textarea>
      </div>
     {% endcomment %}
  </form>

  {% else %}
    <p>It appears that your cart is currently empty.</p>

{% endif %}
</section>
