{% comment %}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.

 {% endcomment %}

  <section class="title">
    <h1><a href="{{ collection.url }}">{{ collection.title }}</a></h1>
  </section>

  <ul>
    {% for product in collections.music.products %}
    {% assign i = forloop.index0 %}
    <style>
      .item__{{i}} a:hover{
          color: {{product.metafields.keycolor.music}};
      }
     </style>
        <li class="item__{{i}}">
          <a href="{{ product.url | within: collection }}">
            <span>{{ product.title }}</span> <span class="colophon sans-serif">{{product.metafields.type.album}}, {{product.metafields.year.album}}</span>
            {% if product.images.size > 0 %}
              <img src="{{ product | img_url: '450x450' }}" alt="{{ product.featured_image.alt | escape }}" />
            {% endif %}
          </a>
        </li>
    {% else %}
      <p>There are no products in this view.</p>
    {% endfor %}
  </ul>


<script>
  /*
  ----------------------------------------
  Define thumbnail location based on the text length
  ----------------------------------------
  */
  jQuery('main li a').hover(
      function(e){
          var $this = $(this).find('img');
          var $colophon = $(this).find('.colophon');

          var $left = $(this).offset().left + $(this).width() - 200;
          var $top = $(this).offset().top - 100;

          var $img_margin = $left + 400;
          if ($(window).width() < $img_margin){
            $left = $(this).offset().left + $(this).width() - 400;
          }
          $this.css({
              'left': $left +'px',
              'top': $top+'px'
          });
      },function(e){
     
      }
  );
</script>