{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}
{% comment %}
{{ page.content }} {% if shop.metafields.default.home[i] == "1" %} default {% endif %}
{% endcomment %}
{% if shop.metafields.title.home != blank %}
  <div class="slider">
    {% for value in shop.metafields.url.home %}
    {% assign i = forloop.index0 %}
      <div class="video item--{{ i }}" data-title="{{shop.metafields.title.home[i]}}" data-url="{{shop.metafields.music.home[i]}}">
        <iframe src="https://www.youtube.com/embed/{{value}}?controls=0&showinfo=0&modestbranding=0&autoplay=1&mute=1&enablejsapi=1&start={{shop.metafields.start.home[i]}}&end={{shop.metafields.end.home[i]}}&loop=1&playlist={{value}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
      </div>
    {% endfor %}
  </div>
{% endif %}

<script>
  jQuery(function($) {
    console.log('slideshow js is loaded');
    $(".slider").slick({
      dots: true,
      arrow: false,
      infinite: true,
      initialSlide: 2,
      variableWidth: true,
      customPaging : function(slider, i) {
        var title = $(slider.$slides[i]).find('[data-title]').data('title');
        var url = $(slider.$slides[i]).find('[data-url]').data('url');
        return '<a class="pager__item" href="/collections/music/products/' + url + '">'+ title +' </a>';
      }
    });
    // slick carousel go to slide on hover
    $('.slick-dots li').on('mouseover', function() {
        $('.slider').slick('goTo', $(this).index());
    });
    $(".lazy").slick({
      lazyLoad: 'ondemand', // ondemand progressive anticipated
      infinite: true
    });
  });
</script>
