{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

<section class="title">
  <h1>{{ product.title }}</h1>
  {% if product.metafields.subtitle.music.size > 1 %}
    <h4>{{product.metafields.subtitle.music}}</h4>
  {% endif %}
  <div class="platforms">
    <a href="{{product.metafields.url_apple.music}}" target="_blank">{% comment %} applemusic {% endcomment %}
      <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.49768 18.3106V8.09556C6.49768 7.7125 6.71069 7.4784 7.1367 7.39328L15.9551 5.60565C16.4238 5.52053 16.6794 5.73334 16.722 6.24409V14.033C16.722 14.6715 15.7634 15.0971 13.8464 15.3099C10.204 15.8845 10.7791 22.0135 15.7634 20.3536C17.6805 19.6513 18 17.7998 18 15.9484V1.00889C18 1.00889 18 -0.267987 16.9137 0.0512327L6.05037 2.28577C6.05037 2.28577 5.21965 2.41346 5.21965 3.43496V16.3953C5.21965 17.0337 4.26112 17.4593 2.34407 17.6721C-1.29833 18.2467 -0.723215 24.3758 4.26112 22.7158C6.17817 22.0135 6.49768 20.1621 6.49768 18.3106Z" fill="#200304"/>
      </svg>   
    </a>  
    <a href="{{product.metafields.url_spotify.music}}" target="_blank">{% comment %}spotify{% endcomment %}
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.0773 0C5.40697 0 0 5.40697 0 12.0773C0 18.7477 5.40697 24.1547 12.0773 24.1547C18.7477 24.1547 24.1547 18.7477 24.1547 12.0773C24.1561 5.40697 18.7477 0 12.0773 0ZM17.617 17.4209C17.4007 17.7771 16.9363 17.8881 16.5815 17.6718C13.7446 15.9382 10.175 15.5474 5.97089 16.5079C5.56562 16.6002 5.16179 16.3464 5.06948 15.9426C4.97718 15.5373 5.22957 15.1335 5.63629 15.0412C10.237 13.9898 14.183 14.4426 17.3675 16.3868C17.7223 16.6017 17.8333 17.0661 17.617 17.4209ZM19.0953 14.1311C18.8227 14.5739 18.2429 14.7138 17.8002 14.4412C14.5551 12.4466 9.60534 11.8682 5.76465 13.0335C5.26707 13.1835 4.74065 12.9037 4.58922 12.4062C4.43922 11.9086 4.72046 11.3836 5.21659 11.2322C9.6039 9.901 15.057 10.5457 18.7838 12.8374C19.228 13.11 19.3664 13.6898 19.0953 14.1311ZM19.2222 10.7072C15.3296 8.3953 8.90729 8.18329 5.19063 9.31112C4.59354 9.49284 3.96328 9.15536 3.78156 8.55827C3.60128 7.96118 3.93732 7.33092 4.53441 7.1492C8.80057 5.85406 15.8935 6.10501 20.3746 8.76451C20.9111 9.08325 21.087 9.77696 20.7697 10.312C20.451 10.8486 19.7573 11.0259 19.2222 10.7072Z" fill="#200304"/>
      </svg>
    </a> 
    <a href="{{product.metafields.url_tidal.music}}" target="_blank">{% comment %} applemusic {% endcomment %}
      <svg width="28" height="24" viewBox="0 0 28 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9.99805 17.9246L14.4948 11.9647L18.9916 17.9246L14.4948 23.8844L9.99805 17.9246Z" fill="#200304"/>
        <path d="M10.0034 5.98486L14.5002 0.0250629L18.9969 5.98486L14.5002 11.9447L10.0034 5.98486Z" fill="#200304"/>
        <path d="M19.001 5.97424L23.4978 0.014472L27.9946 5.97424L23.4978 11.934L19.001 5.97424Z" fill="#200304"/>
        <path d="M0.981445 5.95984L5.47821 6.94468e-06L9.97498 5.95984L5.47821 11.9197L0.981445 5.95984Z" fill="#200304"/>
      </svg>
    </a> 
  </div>
</section>



{% comment %}
  Adding support for product options. See here for details:  
  http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options
{% endcomment %}

{% section 'product-music-template-plugin2' %}

<script>
  
var selectCallback = function(variant, selector) {

  if (variant) {
    
    // Swap image.
    if (variant.featured_image) {
      var newImage = variant.featured_image; // New image object.
      var mainImageDomEl = jQuery('.product-photo-container img')[0]; // DOM element of main image we need to swap.
      Shopify.Image.switchImage(newImage, mainImageDomEl, switchImage); // Define switchImage (the callback) in your theme's JavaScript file.
    }
    
    // Selected a valid variant that is available.
    if (variant.available) {
          
      // Enabling add to cart button.
      jQuery('#add').removeClass('disabled').prop('disabled', false).val({{ add_to_cart | json }});
    
      // If item is backordered yet can still be ordered, we'll show special message.
      if (variant.inventory_management && variant.inventory_quantity <= 0) {
        jQuery('#selected-variant').html({{ product.title | json }}{% unless hide_default_title %} + ' - ' + variant.title{% endunless %});
        jQuery('#backorder').removeClass("hidden");
      } else {
        jQuery('#backorder').addClass("hidden");
      }
      
    } else {
      // Variant is sold out.
      jQuery('#backorder').addClass('hidden');
      jQuery('#add').val({{ sold_out | json }}).addClass('disabled').prop('disabled', true);       
    }
    
    // Whether the variant is in stock or not, we can update the price and compare at price.
    if ( variant.compare_at_price > variant.price ) {
      jQuery('#product-price').html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<s class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</s>');
    } else {
      jQuery('#product-price').html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
    }        

  } else {
    // variant doesn't exist.
    jQuery('#product-price').empty();
    jQuery('#backorder').addClass('hidden');
    jQuery('#add').val({{ unavailable | json }}).addClass('disabled').prop('disabled', true);
  }

};
  
jQuery(function($) {

  new Shopify.OptionSelectors('product-select', { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true });
  
  // Add label if only one product option and it isn't 'Title'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

});

Shopify.Image.preload({{ product.images | json }}, 'grande');
Shopify.Image.preload({{ product.images | json }}, '1024x1024');

</script>