{% comment %} product item snippet for see also {% endcomment %}

<a href=" {{ product.url }} " class="item product item--{{i}}">
  <figure class="{% if product.featured_image == blank %}no-image{% endif %}">
    {% assign product_has_image = false %}
    {% assign img_tag = '<' | append: 'img' %}
    
    {% if product.excerpt_or_content contains img_tag %}
      {% assign src = product.excerpt_or_content | split: 'src="' %}
      {% assign src = src[1] | split: '"' | first %}
      {% if src %}
        {% assign product_has_image = true %}
        {% assign image_src = src | replace: '_small', '' | replace: '_compact', '' | replace: '_medium', '' | replace: '_large', '' | replace: '_grande', '' %}
      {% endif %}
    {% endif %}  
    
    <div class="text">
      {{ product.title }}      
      <h5 class="sans-serif">
        {% if product.price_varies %}
          From
        {% endif %}
        {{ product.price | money }} 
        {% if product.variants.size > 0 %}
        — {{ product.variants.size }} {{ product.options }} 
        {% endif %}
      </h5>
    </div> 

    {% if product.featured_image.size > 0 %}
      <div class="thumbnail">
          <img src="{{ product.featured_image.src | img_url: 'medium' }}">  
      </div>
    {% endif %} 
    
 </figure>
</a>