<div itemscope itemtype="http://schema.org/Product">
  
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
  
  <form action="/cart/add" method="post" enctype="multipart/form-data">
    
    <section class="hero">
      {% if product.images.size == 0 %}
       {% comment %} <img src="{{ '' | img_url: 'grande' }}" alt="" />{% endcomment %}
      {% else %} 
      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        <a href="{{ featured_image | img_url: '1024x1024' }}">
          <img src="{{ featured_image | img_url: 'grande' }}" alt="{{ product.title | escape }}" />
        </a>
        {% if product.images.size > 1 %}
          <ul>
            {% for image in product.images %}
              <li>
                <a href="{{ image | img_url: '1024x1024' }}">
                  <img src="{{ image | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </section>
      

      {% comment %}
        Do we have a collection that has the same name as our product vendor name?
        If we do, let's have the vendor link point to it.
        If not, we will point to the automatic vendor collection.
        {% assign product_vendor_handle = product.vendor | handle %}
        {% if collections[product_vendor_handle].handle == product_vendor_handle %}
          {% assign vendor_url = collections[product_vendor_handle].url %}
        {% else %}
          {% assign vendor_url = product.vendor | url_for_vendor %}
        {% endif %}
        <h2 itemprop="brand">{{ product.vendor | link_to: vendor_url }}</h2>
      {% endcomment %}

    <section itemprop="description" id="music">
      <div>
        <div>
          {% if product.metafields.description.album.size > 0 %}
            <p>{{product.metafields.description.album}}</p>
          {% endif %}
          {% if product.metafields.subdescription.album.size > 0 %}
            <p class="subdescription">{{product.metafields.subdescription.album}}</p>
          {% endif %}
          <p class="san-serif">
          {% if product.metafields.type.album.size > 0 %}
            <span>{{product.metafields.type.album}},</span>
          {% endif %}
          {% if product.metafields.year.album.size > 0 %}
            released {{product.metafields.year.album}}
          {% endif %}
          </p>
        </div>

        {% if product.metafields.tracks.album != blank %}
        <div class="tracklist">
          <div class="san-serif">Tracklist</div>
            <ul>
              <li>
                {% for value in product.metafields.track_title.album %}
                  {% assign i = forloop.index0 %}
                  {% assign num = i  | times: 5 | plus: 1 %}
                  {% assign j = i  | times: 5 | plus: 2 %}
                  <div class="item--{{ j }} san-serif" style="order:{{num}}">
                    {{num}}
                  </div>
                  <div class="item--{{ j }}" style="order:{{j}}">
                    {{value}}
                  </div>
                {% endfor %}
                {% for value in product.metafields.track_duration.album %}
                  {% assign i = forloop.index0 %}
                  {% assign j = i  | times: 5 | plus: 3 %}
                  <div class="item--{{ j }} san-serif" style="order:{{j}}">
                    {{value}}
                  </div>
                {% endfor %}
                {% for value in product.metafields.track_url.album %}
                  {% assign i = forloop.index0 %}
                  {% assign j = i  | times: 5 | plus: 4 %}
                    <div class="item--{{ j }} track_play" style="order:{{j}}">
                      <a href="{{value}}" target="_blanks">
                        <svg width="13" height="15" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M13 7.5L0.249999 14.8612L0.25 0.138783L13 7.5Z" fill="#200304"/>
                        </svg>
                      </a>
                    </div>
                {% endfor %}
                {% if product.metafields.track_lyrics.album != blank %}
                  {% for value in product.metafields.track_lyrics.album %}
                    {% assign i = forloop.index0 %}
                    {% assign j = i  | times: 5  | plus: 5 %}
                      <div class="item--{{ j }}" style="order:{{j}}">
                        <a><i>lyrics</i></a>
                        <div class="lyrics-popup">
                          {{value}}
                        </div>
                      </div>                   
                  {% endfor %}
                {% endif %}
              </li>
            </ul>
          </div>
          
      {% endif %}
      </div>
      <div>
        {% if product.metafields.credit_name.album != blank %}
          <div class="credit">
              {% for value in product.metafields.credit_name.album %}
                {% assign i = forloop.index0 %}
                {% assign j = i  | times: 2 | plus: 1 %}
                <div class="item--{{ i }}" style="order:{{j}}">
                  {{value}}
                </div>
              {% endfor %}
              {% for value in product.metafields.credit_role.album %}
                {% assign i = forloop.index0 %}
                {% assign j = i  | times: 2  | plus: 2 %}
                <div class="item--{{ i }}" style="order:{{j}}">
                  {{value}}
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% comment %} alternative: JSON custom field
          {% if product.metafields.credits.album != blank %}
            <table class="credit">
              <tbody>                
              {% assign credit_array = product.metafields.credits.album %}
                {% for value in credit_array %}
                  {% assign i = forloop.index0 %}
                  <tr class="item item--{{ i }}">
                    <td>{{value[0]}}</td> 
                    <td>{{value[1]}}</td>
                  </tr>
              {% endfor %}
            </tbody>
            </table>
        {% endif %}
        {% endcomment %}
    <script>
      var obj = JSON.parse(localStorage.getItem("_myobject"));
      obj.map(function(item) { 
          // (really just the first key)
          for (var key in item) 
              return "Number: " + key + " - Time: " + item[key]; 
      }).join(" ");
    </script>
    

    {% comment %}
      All themes by Shopify should support the Product Reviews app out of the box.
      https://apps.shopify.com/product-reviews
    {% endcomment %}

    <div id="product-add">
      {% if product.available %}
            {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
              <button class="action" type="submit" name="add" id="add" value="">Buy</button>
            {% else %}
              <a class="action buy">Buy</a>
            {% endif %}
      {% else %}
        <button class="action" type="submit" name="add" id="add" value="" disabled>Out of Stock</button>
      {% endif %}
    </div>
    {% comment %}
      <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        {% if product.available %}
        <link itemprop="availability" href="http://schema.org/InStock" />
        {% else %}
        <link itemprop="availability" href="http://schema.org/OutOfStock" />
        {% endif %}
        <p>
          {% assign variant = product.selected_or_first_available_variant %}
          {% if product.compare_at_price > product.price %}
          <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
          <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
          {% else %}
          <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
          {% endif %}
        </p>
      </div>
    {% endcomment %}

    {% comment %}
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      {% assign hide_default_title = true %}
      {% endif %}       
    {% endcomment %} 

    {% comment %}
      // option variant selecter (working)
    <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
      <select id="product-select" name="id">
      {% for variant in product.variants %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% assign featured_image = product.images.first | default: product.featured_image %} value="{{ variant.id }}">	
        {{ variant.title }}  - {{ variant.price | money }}
      </option>
      {% endfor %}
      </select>
    </div>    
    // radio button selecter (working)
    <div id="ProductSelect-{{ variant.id }}" class="product-variants infiniteoptions">
      <ul>{% for variant in product.variants %}
      <li class="{% cycle 'odds': 'odd', 'even' %}">
      {% if variant.available %}<input type="radio" name="id" value="{{ variant.id }}" id="radio_{{ variant.id }}" {% if forloop.first %}checked="checked"{% endif %} />
      <label for="radio_{{ variant.id }}" class="radio">
      {{ variant.title | escape }}
      
      </label>
      {% else %}
      <input type="radio" name="id" value="{{ variant.id }}" id="radio_{{ variant.id }}" disabled="disabled" />
      <label for="radio_{{ variant.id }}" class="radio">
      {{ variant.title }} (out of stock)
      </label>
      {% endif %}
      </li>
      {% endfor %}</ul>
    </div>
    {% endcomment %} 
  
    
    {% if product.variants.size > 1 %}

        <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
          {% for variant in product.variants %}
            <ul>
              <li>{{ variant.title }}</li>
              <li class="san-serif">{{ variant.price | money }}</li>
              <li>    
                      {% if variant.available %}
                      <input class="option" type="radio" name="id" value="{{ variant.id }}" id="radio_{{ variant.id }}" {% if forloop.first %}checked="checked"{% endif %} />
                        <label for="radio_{{ variant.id }}" class="radio">
                          Add
                        </label>
                    
                        <button class="option" type="submit" name="add" id="add" value="Add"
                          {% unless variant.available %} aria-disabled="true"{% endunless %}
                          aria-label="{% unless variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                          class="btn product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary-accent{% endif %}"
                          {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                          data-add-to-cart>
                            <span data-add-to-cart-text>
                              Add
                            </span>
                        </button>
                      
                      {% else %}
                        <button class="option" type="submit" name="add" id="add" value="" disabled>Out of Stock</button>
                      {% endif %} 
              </li>
            </ul>
          {% endfor %}

          {% comment %}   
          <select id="product-select" name="id">
          {% for variant in product.variants %}
        
            <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money }}
            </option>
                
          {% endfor %}
          </select>
          {% endcomment %}
        </div>     
    {% endif %}    
             
      {% comment %}      
        <div id="backorder" class="hidden">
          <p>{{ '%s is back-ordered. We will ship it separately in 10 to 15 days.' | replace: '%s', '<span id="selected-variant"></span>' }}</p>
        </div>
      {% endcomment %}
        

       {% comment %}   
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
        <div>     
        {% if collection.previous_product %}
          {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
          <span class="left">{{ 'Previous Product' | link_to: prev_url }}</span>
        {% endif %}
        {% if collection.next_product %}
          {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
          <span class="right">{{ 'Next Product' | link_to: next_url }}</span>
        {% endif %}
        </div>
        {% endif %}
      {% endif %}
      {% endcomment %}
     </div>
    </section>

    {% if product.metafields.url.video != blank %}
      <section class="video">
        <div class="video-container">
          <iframe src="{{product.metafields.url.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-credit">
          {% if product.metafields.credit_name.video != blank %}
            <div>Credit </div>
            <div class="credit">
                {% for value in product.metafields.credit_name.video %}
                  {% assign i = forloop.index0 %}
                  {% assign j = i  | times: 2 | plus: 1 %}
                  <div class="item--{{ i }}" style="order:{{j}}">
                    {{value}}
                  </div>
                {% endfor %}
                {% for value in product.metafields.credit_role.video %}
                  {% assign i = forloop.index0 %}
                  {% assign j = i  | times: 2  | plus: 2 %}
                  <div class="item--{{ i }}" style="order:{{j}}">
                    {{value}}
                  </div>
                {% endfor %}
            </div>
          {% endif %}
        </div>
      </section>
    {% endif %}

  </form>
</div>


<script>
  jQuery('.buy').click(
      function(e){

        // $('#product-variants').fadeIn();
         
          $('#product-variants').css({
              'opacity': '1'
          });
      }
  );
</script>