<div itemscope itemtype="http://schema.org/Product">
  
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />
  
  <form action="/cart/add" method="post" enctype="multipart/form-data">
    
    <section class="hero">
      {% if product.images.size == 0 %}
       {% comment %} <img src="{{ '' | img_url: 'grande' }}" alt="" />{% endcomment %}
      {% else %} 
      {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        <a href="{{ featured_image | img_url: '1024x1024' }}">
          <img src="{{ featured_image | img_url: 'grande' }}" alt="{{ product.title | escape }}" />
        </a>
        {% if product.images.size > 1 %}
          <ul>
            {% for image in product.images %}
              <li>
                <a href="{{ image | img_url: '1024x1024' }}">
                  <img src="{{ image | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    </section>
      

      {% comment %}
        Do we have a collection that has the same name as our product vendor name?
        If we do, let's have the vendor link point to it.
        If not, we will point to the automatic vendor collection.
        {% assign product_vendor_handle = product.vendor | handle %}
        {% if collections[product_vendor_handle].handle == product_vendor_handle %}
          {% assign vendor_url = collections[product_vendor_handle].url %}
        {% else %}
          {% assign vendor_url = product.vendor | url_for_vendor %}
        {% endif %}
        <h2 itemprop="brand">{{ product.vendor | link_to: vendor_url }}</h2>
      {% endcomment %}

    <section itemprop="description" id="music">
      <div>
        <div>
          {% if product.metafields.description.album.size > 0 %}
            <p>{{product.metafields.description.album}}</p>
          {% endif %}
          {% if product.metafields.subdescription.album.size > 0 %}
            <p class="subdescription">{{product.metafields.subdescription.album}}</p>
          {% endif %}
          <p class="sans-serif">
          {% if product.metafields.type.album.size > 0 %}
            <span>{{product.metafields.type.album}},</span>
          {% endif %}
          {% if product.metafields.year.album.size > 0 %}
            released {{product.metafields.year.album}}
          {% endif %}
          </p>
        </div>
        {% include 'platforms' %}

        {% if product.metafields.spotifyid.spotifyid != blank %}
        <div class="tracklist">
          <div class="track-header sans-serif">
            <div>Tracklist</div>
            <div>Preview</div>
            <div>Lyrics</div>
          </div>
          <ul id="trackplayer">

          </ul>
        </div>
        
      {% endif %}
      </div>
      <div>
        {% if product.metafields.credit_name.album != blank %}
          <div class="credit">
              {% for value in product.metafields.credit_name.album %}
                {% assign i = forloop.index0 %}
                {% assign j = i  | times: 2 | plus: 1 %}
                <div class="item--{{ i }} name" style="order:{{j}}">
                  {{value}}
                </div>
              {% endfor %}
              {% for value in product.metafields.credit_role.album %}
                {% assign i = forloop.index0 %}
                {% assign j = i  | times: 2  | plus: 2 %}
                <div class="item--{{ i }} role" style="order:{{j}}">
                  {{value}}
                </div>
              {% endfor %}
          </div>
        {% endif %}
        {% comment %} alternative: JSON custom field
          {% if product.metafields.credits.album != blank %}
            <table class="credit">
              <tbody>                
              {% assign credit_array = product.metafields.credits.album %}
                {% for value in credit_array %}
                  {% assign i = forloop.index0 %}
                  <tr class="item item--{{ i }}">
                    <td>{{value[0]}}</td> 
                    <td>{{value[1]}}</td>
                  </tr>
              {% endfor %}
            </tbody>
            </table>
        {% endif %}
        {% endcomment %}
<!--     <script>
      var obj = JSON.parse(localStorage.getItem("_myobject"));
      obj.map(function(item) { 
          // (really just the first key)
          for (var key in item) 
              return "Number: " + key + " - Time: " + item[key]; 
      }).join(" ");
    </script>
     -->

    {% comment %}
      All themes by Shopify should support the Product Reviews app out of the box.
      https://apps.shopify.com/product-reviews
    {% endcomment %}
 
    {% comment %}
    <div id="product-add"> /*product-add semi-final*/
      {% if product.available %}
            {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
              <button class="action" type="submit" name="add" id="add" value="">Buy</button>
            {% else %}
              <a class="action buy">Buy</a>
            {% endif %}
      {% else %}
        <button class="action" type="submit" name="add" id="add" value="" disabled>Out of Stock</button>
      {% endif %}
    </div>
    {% endcomment %}

    {% comment %}
      <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        {% if product.available %}
        <link itemprop="availability" href="http://schema.org/InStock" />
        {% else %}
        <link itemprop="availability" href="http://schema.org/OutOfStock" />
        {% endif %}
        <p>
          {% assign variant = product.selected_or_first_available_variant %}
          {% if product.compare_at_price > product.price %}
          <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
          <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
          {% else %}
          <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
          {% endif %}
        </p>
      </div>
    {% endcomment %}

    {% comment %}
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      {% assign hide_default_title = true %}
      {% endif %}       
    {% endcomment %} 

    {% comment %}
      // option variant selecter (working)
    <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
      <select id="product-select" name="id">
      {% for variant in product.variants %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} {% assign featured_image = product.images.first | default: product.featured_image %} value="{{ variant.id }}">	
        {{ variant.title }}  - {{ variant.price | money }}
      </option>
      {% endfor %}
      </select>
    </div>    
    // radio button selecter (working)
    <div id="ProductSelect-{{ variant.id }}" class="product-variants infiniteoptions">
      <ul>{% for variant in product.variants %}
      <li class="{% cycle 'odds': 'odd', 'even' %}">
      {% if variant.available %}<input type="radio" name="id" value="{{ variant.id }}" id="radio_{{ variant.id }}" {% if forloop.first %}checked="checked"{% endif %} />
      <label for="radio_{{ variant.id }}" class="radio">
      {{ variant.title | escape }}
      
      </label>
      {% else %}
      <input type="radio" name="id" value="{{ variant.id }}" id="radio_{{ variant.id }}" disabled="disabled" />
      <label for="radio_{{ variant.id }}" class="radio">
      {{ variant.title }} (out of stock)
      </label>
      {% endif %}
      </li>
      {% endfor %}</ul>
    </div>
    {% endcomment %} 



    {% if product.variants.size > 1 %}
      <div id="product-variants">
          {% for variant in product.variants %}
              <input type="radio" class="{% unless variant.available %}out-of-stock{% endunless %}" name="id" value="{{ variant.id }}" id="radio_{{ variant.id }}"  {% if forloop.first %}checked="checked"{% endif %}/>
              <label for="radio_{{ variant.id }}" class="radio {% unless variant.available %}out-of-stock{% endunless %}">
              {{ variant.title | escape }} — <span class="sans-serif">{{ variant.price | money }}</span>
              </label>
            {% endfor %}
        </div>
    {% endif %} 
  
    <div id="product-add">
      {% if product.available %}
        <button class="action" type="submit" name="add" id="add" value="Buy">Buy</button>
      {% else %}
        <button class="action" type="submit" name="add" id="add" value="" disabled>Out of Stock</button>
      {% endif %}
    </div>
      {% comment %}  /*table form semi-final*/
    {% if product.variants.size > 1 %}

    
        <div id="product-variants" class="{% if hide_default_title %} hidden{% endif %}">
          {% for variant in product.variants %}
            <ul>
              <li>{{ variant.title }}</li>
              <li class="sans-serif">{{ variant.price | money }}</li>
              <li>    
                      {% if variant.available %}
                      <input class="option" type="radio" name="id" value="{{ variant.id }}" id="radio_{{ variant.id }}" {% if forloop.first %}checked="checked"{% endif %} />
                        <label for="radio_{{ variant.id }}" class="radio">
                          Add
                        </label>
                    
                        <button class="option" type="submit" name="add" id="add" value="Add"
                          {% unless variant.available %} aria-disabled="true"{% endunless %}
                          aria-label="{% unless variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                          class="btn product-form__cart-submit{% if section.settings.enable_payment_button and product.selling_plan_groups == empty %} btn--secondary-accent{% endif %}"
                          {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
                          data-add-to-cart>
                            <span data-add-to-cart-text>
                              Add
                            </span>
                        </button>
                      
                      {% else %}
                        <button class="option" type="submit" name="add" id="add" value="" disabled>Out of Stock</button>
                      {% endif %} 
              </li>
            </ul>
          {% endfor %}

        </div>     
    {% endif %}    
           {% endcomment %}




      {% comment %}      
        <div id="backorder" class="hidden">
          <p>{{ '%s is back-ordered. We will ship it separately in 10 to 15 days.' | replace: '%s', '<span id="selected-variant"></span>' }}</p>
        </div>
      {% endcomment %}
        

       {% comment %}   
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
        <div>     
        {% if collection.previous_product %}
          {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
          <span class="left">{{ 'Previous Product' | link_to: prev_url }}</span>
        {% endif %}
        {% if collection.next_product %}
          {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
          <span class="right">{{ 'Next Product' | link_to: next_url }}</span>
        {% endif %}
        </div>
        {% endif %}
      {% endif %}
      {% endcomment %}
     </div>
    </section>

    {% if product.metafields.url.video != blank %}
      <section class="video">
        <div class="video-container">
          <iframe src="{{product.metafields.url.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-credit">
          {% if product.metafields.credit_name.video != blank %}
            <div>Credit </div>
            <div>
              <div class="credit">
                  {% for value in product.metafields.credit_name.video %}
                    {% assign i = forloop.index0 %}
                    {% assign j = i  | times: 2 | plus: 1 %}
                    <div class="item--{{ i }} name" style="order:{{j}}">
                      {{value}}
                    </div>
                  {% endfor %}
                  {% for value in product.metafields.credit_role.video %}
                    {% assign i = forloop.index0 %}
                    {% assign j = i  | times: 2  | plus: 2 %}
                    <div class="item--{{ i }} role" style="order:{{j}}">
                      {{value}}
                    </div>
                  {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      </section>
    {% endif %}

  </form>
</div>


<script>
  jQuery('.buy').click(
      function(e){

        // $('#product-variants').fadeIn();
         
          $('#product-variants').css({
              'opacity': '1'
          });
      }
  );

  let tracklist = [];

  jQuery(function($) {
    $.getJSON( 'https://sc-player.herokuapp.com/{{product.metafields.spotifyid.spotifyid}}', function( data ) {
      var items = [];
      let tracks = data.data.items;

      $.each( tracks, function( key, val ) {
        let track = val;
        let num = key + 1;

        //calculate and format duration from milliseconds
        let ms = track.duration_ms;
        let minutes = Math.floor(ms / 60000);
        let seconds = ((ms % 60000) / 1000).toFixed(0);
        let duration = minutes + ":" + (seconds < 10 ? '0' : '') + seconds;

        tracklist.push(track.name);

        //compile track item
        items.push(`
          <li class="track-item">
            <div class="track-cell sans-serif">
              ${num}
            </div>
            <div class="track-cell track-title">
              ${track.name}
            </div>
            <div class="track-cell sans-serif">
              ${duration}
            </div>
            <div class="track-cell track-play" data-preview="${track.preview_url}">
              <div class="play-button"></div>
              <svg class="play_icon" width="10" height="12" viewBox="0 0 13 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="fill" d="M13 7.5L0.249999 14.8612L0.25 0.138783L13 7.5Z" fill="#200304"/>
              </svg>
              <svg class="pause_icon" xmlns="http://www.w3.org/2000/svg" width="10" height="12" viewBox="0 0 10 12"><rect class="fill" width="3.25" height="12"/><rect class="fill" x="6.75" width="3.25" height="12"/></svg>
            </div>
            <div class="track-cell track-lyrics" data-popup="closed">
              <div class="lyrics-button">...</div>
              <div class="lyrics-popup">
                <div class="lyrics-box">
                  <div class="lyrics-header">${track.name}
                    <div class="lyrics-close-button">
                      <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="27.2308" y1="9.14994" x2="9.14922" y2="27.2315" class="svg-stroke"/>
                        <line x1="27.2308" y1="9.14994" x2="9.14922" y2="27.2315" class="svg-stroke"/>
                        <line x1="27.2308" y1="9.14994" x2="9.14922" y2="27.2315" class="svg-stroke"/>
                        <line x1="9.1497" y1="8.93111" x2="27.2312" y2="27.0126" class="svg-stroke"/>
                        <line x1="9.1497" y1="8.93111" x2="27.2312" y2="27.0126" class="svg-stroke"/>
                        <line x1="9.1497" y1="8.93111" x2="27.2312" y2="27.0126" class="svg-stroke"/>
                      </svg>
                    </div>
                  </div>
                  <div class="lyrics-body"</div>
                </div>
              </div>
            </div>
          </li>
          `);
      });
      


      //add tracklist to DOM
      $('#trackplayer').append( items.join("") );

      setupPreviews();

      // populate lyrics info after setting up tracklist
      // loop through tracklist array
      tracklist.forEach( (song, index) => {
        let trackuri = encodeURIComponent(song);
        let trackno = index+1;
        let lyrics='';
        $.getJSON( 'https://sc-player.herokuapp.com/lyrics/' + trackuri, function( lyricsjson ) {
          // console.log(lyricsjson);
          lyrics = formatter( lyricsjson.data.replace(/\n/g, '<br />') );
          $(`.track-item:nth-child(${trackno}) .lyrics-body`).html(lyrics);
        });
      });
      initializePopups();

    });

});

function setupPreviews(){
  //play track previews
  let audioObject;
  $('.track-play').on('click', function(){
    let preview = $(this).data('preview');        

    if ($(this).hasClass('playing')){
      //already playing, so pause
      audioObject.pause();
      $(this).removeClass('playing');
    }else{
      if (audioObject) {
        audioObject.pause();
        $('.playing').removeClass('playing');
      }
      audioObject = new Audio(preview);
      audioObject.play();
      $(this).addClass('playing');

      audioObject.addEventListener('ended', function () {
          $(this).removeClass('playing');
      });
    }      
  });
}
function initializePopups(){
  //toggle lyrics popups

  $('.lyrics-button').on('click', function(e){
    let thistrack = $(this).parent();
    if( $(thistrack).attr('data-popup') == 'open' ){
      $(thistrack).attr('data-popup', 'closed');
      $('body').removeClass('lockscroll');
    }else{
      $('[data-popup=open]').attr('data-popup', 'closed'); //close others
      $(thistrack).attr('data-popup', 'open');
      $('body').addClass('lockscroll');
    }    
  });

  $('.lyrics-popup').click(function(e){
    let trackitem = $(this).parent();
    if( $(trackitem).attr('data-popup') == 'open' ){
      $(trackitem).attr('data-popup', 'closed');
      $('body').removeClass('lockscroll');
    }
    // console.log(e.target);
    // if(e.target.hasClass())
  });
}

function formatter(a) {
  //helps fix quote marks to proper curly quotes in strings
  a = a.replace(/(^|[-\u2014\s(\["])'/g, "$1\u2018");       // opening singles
  a = a.replace(/'/g, "\u2019");                            // closing singles & apostrophes
  a = a.replace(/(^|[-\u2014/\[(\u2018\s])"/g, "$1\u201c"); // opening doubles
  a = a.replace(/"/g, "\u201d");                            // closing doubles
  a = a.replace(/--/g, "\u2014");                           // em-dashes
  return a
};
</script>